<html xmlns:th=" http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>View</title>
</head>
<style>
    body{
    background-color: black;
    }

    h1{
    color: white;
    }
    .row{
        width: 500px;
        height: 340px;
        background-color: #4D4DFF;
        border-radius: 15px;
        margin-top: 10px;
    }
    p{
    padding-left: 10px;
    color: white;
    }
    button{
        width: 190px;
        height: 40px;
        border-radius: 16px;
        background-color: #4D4DFF;
        border: none;

    }
    a{
    color: white;
    text-decoration: none;
    }

</style>
<body>

        <!-- http://http://localhost:8084/alunos</!-->

        <h1>Lista de Alunos</h1>
        <button><a href="/cadastrarAluno">Cadastrar Aluno</a></button>

        <div th:each="alunos : ${alunos}">
            <div class="row">
                <p><b>Código Aluno:</b> <span th:text="${alunos.codigoAluno}"></span></p>
                <p><b>Nome:</b> <span th:text="${alunos.nome}"></span></p>
                <p><b>Sobrenome:</b> <span th:text="${alunos.sobrenome}"></span></p>
                <p><b>Cpf:</b> <span th:text="${alunos.cpf}"></span></p>
                <p><b>Endereço:</b> <span th:text="${alunos.endereco}"></span></p>
                <p><b>E-mail:</b> <span th:text="${alunos.email}"></span></p>
                <p><b>Cep:</b> <span th:text="${alunos.cep}"></span></p>
                <p><b>Telefone:</b> <span th:text="${alunos.telefone}"></span></p>
                <p><b>Cursos:</b> <span th:text="${alunos.cursos}"></span></p>
            </div>
        </div>
    </div>
</body>